[user]
	name = JaeYoo-Im
	email = cpu3792@gmail.com
	autocrlf = input
[init]
	defaultBranch = master
[core]
	editor = vim
[protocol "file"]
	allow = always
[commit]
	gpgsign = false
[tag]
	gpgsign = false
[gpg]
	format = openpgp
