[submodule ".emacs.d.vanilla/doom-snippets"]
	path = .emacs.d.vanilla/doom-snippets
	url = https://github.com/hlissner/doom-snippets
[submodule ".emacs.d/org-contrib"]
	path = .emacs.d/org-contrib
	url = https://github.com/emacsmirror/org-contrib.git
