.ssh/*
!.ssh/config
/.emacs.rational.d/backups/
/.emacs.rational.d/var/
/.emacs.rational.d/undo/
/.config/htop/
/.config/qutebrowser/
/.config/tmux/
/.emacs.vanilla/var/
/.emacs.vanilla/straight/
/.emacs.vanilla/elpa/
/.emacs.vanilla/.org-generic-id-locations
/.emacs.df/var/
/.emacs.vanilla/emacs.el
/.config/blender/
/.config/configstore/
/.config/dconf/
/.config/fcitx/
/.config/gatsby/
/.config/inkscape/
/.config/libreoffice/
/.config/nyxt/
/.config/pulse/
/.config/tmuxinator/
/.config/vimb/
/.emacs.df/.org-id-locations
/.emacs.df/bookmarks
