.ssh/*
!.ssh/config
/.config/htop/
/.config/qutebrowser/
/.config/tmux/
/.config/blender/
/.config/configstore/
/.config/dconf/
/.config/fcitx/
/.config/gatsby/
/.config/inkscape/
/.config/libreoffice/
/.config/nyxt/
/.config/pulse/
/.config/tmuxinator/
/.config/vimb/
/.config/Code - OSS/
/.config/Electron/
