elpaca/
eln-cache/
elpa/
auto-save-list/
custom.el
devdocs/
eshell/
history
perspectives
places
projects
recentf
snippets/
tldr/
tramp
tramp-autosave/
transient/
tree-sitter/
undo-tree-hist/
var/
emojis/
.cache/
verilog-ext/
