[Desktop Entry]
Type=Application
Name=Questasim (on vivado-ubuntu)
Comment=Questasim
Icon=/home/jaeus/.local/share/icons/questasim.png
Exec=/home/jaeus/scripts/questasim-launch.sh
Terminal=false
Categories=Development;
StartupWMClass=questasim
